<!-- Footer -->
<footer th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center" style="color: white;">
                    <div style="display: inline-block;"><h4><small>AUTO</small><strong style="color: white;">CASA</strong>.</h4></div>
                    <article style="margin-bottom: 35px;">
                    	<em>Autocasa es un sitio que te permite publicar y buscar vehiculos e inmuebles.</em>
                    </article>
                    <article>
                    <header><a th:href="@{/contact}"><h4>Contacto</h4></a></header>
                    <p>Miguel Shultz 3500 <br>Chihuahua, Chih 90210</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw">* </i> (614) 2-452585</li>
                        <li><i class="fa fa-phone fa-fw">* </i> (614) 2-452584</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">hola@autocasa.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    </article>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; AUTOCASA 2015</p>
                </div>
            </div>
        </div>
    </footer>