<header id="header" th:fragment="header">
	<div class="inner">

		<!-- Logo -->
		<h1>
			<a href="index.html" id="logo">AUTOCASA</a>
		</h1>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="current_page_item"><a href="index.html"
					th:href="@{/index.html}">Inicio</a></li>
				<li><a href="">Casas</a>
					<ul>
						<li><a href="#">Rentas</a></li>
						<li><a href="#">Ventas</a></li>
						<li><a href="">Departamentos ></a>
							<ul>
								<li><a href="#">Personales</a></li>
								<li><a href="#">Familiares</a></li>
								<li><a href="#">Estudiantes</a></li>
								<li><a href="#">Vacasiones</a></li>
							</ul></li>
					</ul></li>
				<li><a href="left-sidebar.html">Autos</a></li>
				<li><a href="right-sidebar.html">Contacto</a></li>
				<li><a href="no-sidebar.html">Iniciar Sesion</a></li>
			</ul>
		</nav>

	</div>
</header>