<form class="form-horizontal" th:fragment="car-filter" style="margin-bottom: 5px;">
	<div class="form-group">
		<div class="col-xs-12">
			<select style="width: 100%" class="form-control" id="selectBrand">
				<option>Marca</option>
				<option>Audi</option>
				<option>BMW</option>
				<option>Skoda</option>
				<option>Mercedez Benz</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12">
			<select style="width: 100%" class="form-control" id="selectModel">
				<option>Modelo</option>
				<option>Jetta</option>
				<option>Golf</option>
				<option>C3</option>
				<option>207</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-6">
			<select style="width: 100%" class="form-control" id="selectModel">
				<option>A&ntilde;o</option>
				<option>1990</option>
				<option>2000</option>
				<option>2011</option>
				<option>2015</option>
			</select>
		</div>
		<div class="col-xs-6">
			<select style="width: 100%" class="form-control" id="selectModel">
				<option>Hasta</option>
				<option>1990</option>
				<option>2000</option>
				<option>2011</option>
				<option>2015</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-6">
			<select style="width: 100%" class="form-control" id="selectModel">
				<option>Precio</option>
				<option>$100,000</option>
				<option>$200,000</option>
				<option>$300,000</option>
				<option>$400,000</option>
			</select>
		</div>
		<div class="col-xs-6">
			<select style="width: 100%" class="form-control" id="selectModel">
				<option>Hasta</option>
				<option>$100,000</option>
				<option>$200,000</option>
				<option>$300,000</option>
				<option>$400,000</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12">
			<select style="width: 100%" class="form-control" id="selectModel">
				<option>Estado</option>
				<option>Chihuahua</option>
				<option>Nuevo Leon</option>
				<option>Jalisco</option>
				<option>Mexico</option>
			</select>
		</div>
	</div>
	<div class="checkbox">
		<label class="col-xs-6"> <input type="checkbox" checked>Nuevo
		</label> <label class="col-xs-6"> <input type="checkbox" checked>Usado
		</label>

	</div>
	<hr>
	<div class="col-xs-12">
		<button type="submit" class="btn btn-lg btn-default btn-block">Buscar</button>
	</div>
</form>