<form class="form-horizontal"  th:fragment="house-filter" style="margin-bottom: 5px;">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <select style="width:100%" class="form-control" id="selectBrand">
                                                <option>Categoria</option>
                                                <option>Estudiantes</option>
                                                <option>Familiar</option>
                                                <option>Visita</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <select style="width:100%" class="form-control" id="selectModel">
                                                <option>Region</option>
                                                <option>Norte</option>
                                                <option>Sur</option>
                                                <option>Este</option>
                                                <option>Oeste</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <select style="width:100%" class="form-control" id="selectModel">
                                                <option>Metros Cuadrados</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select style="width:100%" class="form-control" id="selectModel">
                                                <option>Hasta</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <select style="width:100%" class="form-control" id="selectModel">
                                                <option>Precio</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select style="width:100%" class="form-control" id="selectModel">
                                                <option>Hasta</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <select style="width:100%" class="form-control" id="selectModel">
                                                <option>Estado</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label class="col-xs-6">
                                            <input type="checkbox" checked>Venta
                                        </label>
                                        <label class="col-xs-6">
                                            <input type="checkbox" checked>Renta
                                        </label>
                                    </div>
                                    <hr>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-lg btn-default  btn-block">Buscar</button>
                                    </div>
                                </form>