<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AUTOCASA</title>
    <noscript>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/main.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    </noscript>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Navigation -->
    <div th:replace="fragments/general/header :: header"></div>
    <!-- Page Content -->
    <div class="container">
        <!-- Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">¿Que buscas?</h2>
            </div>
            <div class="col-lg-12">
                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-car"></i> Autos</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-home"></i> Casas</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6>Puedes ignorar las configuraciones que desees, para tener un resultado mas ampliio.</h6>
                            </div>
                            <div class="col-md-6 col-md-offset-3 panel-body">
                                <div th:replace="fragments/filters/car :: car-filter"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6>Puedes ignorar las configuraciones que desees, para tener un resultado mas ampliio.</h6>
                            </div>
                            <div class="col-md-6 col-md-offset-3 panel-body">
                                <div th:replace="fragments/filters/house :: house-filter"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Publicaciones Recientes</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Para vendedores</h2>
            </div>
            <div class="col-md-6">
                <p>Llega a mas posibles clientes:</p>
                <ul>
                    <li>No te genera costo publicar <strong>(ES GRATIS!!)</strong>
                    </li>
                    <li>Es facil y rapido comenzar</li>
                    <li>Tu decides cuanto quieres que dure tu publicacion</li>
                    <li>Muchas cosas mas!</li>
                </ul>
                <p>AUTOCASA le brinda a vendedores la posibilidad de tener mas organizados sus materiales de venta y llegar a mas personas.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Para compradores</h2>
            </div>
            <div class="col-md-6">
                <p>Busca rapidamente:</p>
                <ul>
                    <li>Empieza a buscar sin tantas distracciones
                    </li>
                    <li>Filtros que te obedecen</li>
                    <li>Sin publicidad que te moleste</li>
                    <li>Sitio responsivo, facil de usar en dispositivos moviles</li>
                    <li>Muchas cosas mas!</li>
                </ul>
                <p>AUTOCASA le brinda a compradores una experiencia limpia, organizada y donde el unico objetivo es el brindarle al comprador un servicio para encontrar comodamente lo que busca.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Nos interesa tu opinion acerca de AUTOCASA.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Contactanos</a>
                </div>
            </div>
        </div>
        <hr>
        <div th:replace="fragments/general/footer :: footer"></div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/classie.js"></script>

    <!-- Animate the header -->
    <script src="js/cbpAnimatedHeader.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $('select').select2();
    </script>
</body>

</html>
