<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Resultado de Busqueda - AUTOCASA</title>

<noscript>
	<link href='http://fonts.googleapis.com/css?family=Roboto:900,400' rel='stylesheet' type='text/css'>

	<!-- Bootstrap Core CSS -->
	<link href="css/fbootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/main.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	
	<!-- Custom CSS -->
	<link href="css/shop-homepage.css" rel="stylesheet">
</noscript>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body style="padding-top: 150px;">

	<!-- Navigation -->
	<div th:replace="fragments/general/header :: header"></div>

	<!-- Page Content -->
	<div class="container">
		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> <i class="fa fa-car">|<i class="fa fa-search"> 
                </h1>
                
            </div>
        </div>
        <!-- /.row -->
		<style>
		.interestFigure{
			border-radius: 24px 24px 24px 24px;
			-moz-border-radius: 24px 24px 24px 24px;
			-webkit-border-radius: 24px 24px 24px 24px;
			border: 0px solid #000000;
		}
		</style>
		
		<div class="row">
			<div class="col-md-3">
                <div class="row" style="padding: 10px;">
                	<div class="row" style="padding: 10px; background-color: rgba(0,0,0,0.07); border-radius: 12px; -moz-border-radius: 12px;">
	                	<strong>TU BUSQUEDA</strong>
						<div th:replace="fragments/filters/car :: car-filter"></div>
					</div>
					<div class="row" >
					<figure class="interestFigure">
						<img src="http://placehold.it/190x150" alt="" style="width: 100%; margin: 0 auto; padding: 10px;" class="img-thumbnail">
						<figcaption>Altima 2005, $65,000</figcaption>
					</figure>
					</div>
					<div class="row" >
					<figure class="interestFigure">
						<img src="http://placehold.it/190x150" alt="" style="width: 100%; margin: 0 auto; padding: 10px;" class="img-thumbnail">
						<figcaption>Tsuru 2016, $260,000</figcaption>
					</figure>
					</div>
					<div class="row" >
					<figure class="interestFigure">
						<img src="http://placehold.it/190x150" alt="" style="width: 100%; margin: 0 auto; padding: 10px;" class="img-thumbnail">
						<figcaption>Mercedez Benz 1990, $24,000</figcaption>
					</figure>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<a href="/item"><img src="img/jetta2.jpg" alt="" class="img-thumbnail" style="height: 180px;"></a>
							<div class="caption">
								<h4 class="pull-right"><em>$170,000</em></h4>
								<h4>
									<a href="/item">Jetta 2011 MK6</a>
								</h4>
								<p>Como nuevo, no le duele nada, servicio recien hecho.
									Economico, acepto financiamiento con banco Banamex. Tomo
									unidad.</p>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<img src="img/car1.jpg" alt="" class="img-thumbnail" style="height: 180px;">
							<div class="caption">
								<h4 class="pull-right"><em>$170,000</em></h4>
								<h4>
									<a href="#">Audi A8</a>
								</h4>
								<p>Como nuevo, no le duele nada, servicio recien hecho.
									Economico, acepto financiamiento con banco Banamex. Tomo
									unidad.</p>
							</div>

						</div>
					</div>

					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<img src="img/car2.jpg" alt="" class="img-thumbnail" style="height: 180px;">
							<div class="caption">
								<h4 class="pull-right">$590,000</h4>
								<h4>
									<a href="#">Mercedes Benz</a>
								</h4>
								<p>Como nuevo, no le duele nada, servicio recien hecho.
									Economico, acepto financiamiento con banco Banamex. Tomo
									unidad.</p>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<img src="img/car3.jpg" alt="" class="img-thumbnail" style="height: 180px;">
							<div class="caption">
								<h4 class="pull-right">$199,000</h4>
								<h4>
									<a href="#">BMW</a>
								</h4>
								<p>Como nuevo, no le duele nada, servicio recien hecho.
									Economico, acepto financiamiento con banco Banamex. Tomo
									unidad.</p>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<img src="img/car4.jpg" alt="" class="img-thumbnail" style="height: 180px;">
							<div class="caption">
								<h4 class="pull-right">$80,000</h4>
								<h4>
									<a href="#">BMW</a>
								</h4>
								<p>Como nuevo, no le duele nada, servicio recien hecho.
									Economico, acepto financiamiento con banco HSBC. Tomo
									unidad.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->

	<div class="container">

		<hr>

		<!-- Footer -->
		<div th:replace="fragments/general/footer :: footer"></div>

	</div>
	<!-- /.container -->
<!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/classie.js"></script>

    <!-- Animate the header -->
    <script src="js/cbpAnimatedHeader.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $('select').select2();
    </script>

</body>

</html>
