<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Resultado de Busqueda - AUTOCASA</title>

<noscript>
	<link href='http://fonts.googleapis.com/css?family=Roboto:900,400' rel='stylesheet' type='text/css'>
	<!-- Bootstrap Core CSS -->
	<link th:href="@{/css/fbootstrap.min.css}" rel="stylesheet">
	<!-- Custom CSS -->
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<!-- Custom Fonts -->
	<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<!-- Custom CSS -->
	<link th:href="@{/css/shop-homepage.css}" rel="stylesheet">
</noscript>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body style="padding-top: 150px;">

	<!-- Navigation -->
	<div th:replace="fragments/general/header :: header"></div>

	<!-- Page Content -->
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
            		<div style="display: inline-block;">
		                <h1 style="display: inline-block;" class="page-header"> <i class="fa fa-car">|<i class="fa fa-search"> 
		                </h1>
	                </div>
	                <div style="display: inline-block;" class="alert alert-info alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  Autocasa solo se dedica a brindar un servicio de publicaci&oacute;n. Tome sus debidas precauci&oacute;nes cuando quiera comprar un vehiculo o inmueble.
					</div>
            </div>
        </div>
        <!-- /.row -->
		<style>
		.interestFigure{
			border-radius: 24px 24px 24px 24px;
			-moz-border-radius: 24px 24px 24px 24px;
			-webkit-border-radius: 24px 24px 24px 24px;
			border: 0px solid #000000;
		}
		</style>
		
		<div class="row">
			<div class="col-md-9 col-md-push-3">
				<div  style="padding: 10px; margin-bottom:20px; background-color: rgba(0,0,0,0.07); border-radius: 12px; -moz-border-radius: 12px; vertical-align: top;">
					<label for="selectOrder">Ordenar por: </label>
					<select class="form-control" id="selectOrder" data-placeholder="Modelo" style="width: 25%;">
						<option>Mas recientes primero</option>
						<option>Mas antiguos primero</option>
						<option>Mas caros primero</option>
						<option>Mas baratos primero</option>
						<option>Año mas reciente primero</option>
						<option>Año mas viejo primero</option>
					</select>
				</div>
				<nav>
				  <ul class="pagination">
				    <li>
				      <a th:href="${currentIndex-1}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li th:each="i : ${#numbers.sequence( beginIndex, endIndex)}" th:class="${i==currentIndex}?active:inactive"><a th:href="@{${i}}" th:text="${i}"></a></li>
				    <li>
				      <a th:href="${currentIndex+1}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
				<div class="row" style="margin-left:2px; background-color: rgba(0,0,0,0.07); border-radius: 12px; -moz-border-radius: 12px;">
					<div th:each="publication: ${publications}" class="col-md-6">
						<div class="thumbnail">
							<p th:text="'ID:'+${publication.id}"></p>
							<a th:href="'/item/'+${publication.id}" target="_blank"><img th:src="@{${publication.images[0]}}" alt="" class="img-thumbnail" style="height: 200px; width: 270px;"></a>
							<div class="caption">
								<h4 class="pull-right"><em th:text="${publication.price}">$170,000</em></h4>
								<h4>
									<a th:href="'/item/'+${publication.id}" target="_blank" th:if="${#strings.length(publication.ogTitle)} gt 4" th:text="${#strings.abbreviate(publication.ogTitle, 18)}"></a>
									<a th:href="'/item/'+${publication.id}" target="_blank" th:if="${#strings.length(publication.ogTitle)} lt 4" th:text="${#strings.abbreviate(publication.pageTitleExtended, 18)}"></a>
								</h4>
								<p th:if="${#strings.length(publication.comments)} gt 0" th:text="${#strings.abbreviate(publication.comments, 150)}">Como nuevo, no le duele nada, servicio recien hecho.
									Economico, acepto financiamiento con banco Banamex. Tomo
									unidad.</p>
								<p th:if="${#strings.length(publication.comments)} == 0">Sin descipci&oacute;n.</p>
								
							</div>
						</div>
					</div>
				</div>
				<nav>
				  <ul class="pagination">
				    <li>
				      <a th:href="${currentIndex-1}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li th:each="i : ${#numbers.sequence( beginIndex, endIndex)}" th:class="${i==currentIndex}?active:inactive"><a th:href="@{${i}}" th:text="${i}"></a></li>
				    <li>
				      <a th:href="${currentIndex+1}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
			<div class="col-md-3 col-md-pull-9">
                <div class="row" style="padding: 10px;">
                	<div class="row" style="padding: 10px; margin-bottom:20px; background-color: rgba(0,0,0,0.07); border-radius: 12px; -moz-border-radius: 12px;" id="carFilter">
	                	<strong>TU BUSQUEDA</strong>
						<div th:replace="fragments/filters/house :: house-filter"></div>
					</div>
					<header><strong>Te podria interesar... </strong></header>
					<div class="col-sm-4 col-md-12" style="background-color: rgba(0,0,0,0.07);margin-bottom:20px;border-radius: 10px;padding: 5px;">
					<figure class="interestFigure">
						<img th:src="@{/img/car1.jpg}" alt="" style="width: 100%; margin: 0 auto; padding: 10px;"">
						<figcaption>Golf GTI, <strong>$65,000</strong></figcaption>
					</figure>
					</div>
					<div class="col-sm-4 col-md-12" style="background-color: rgba(0,0,0,0.07);margin-bottom:20px;border-radius: 10px;padding: 5px;">
					<figure class="interestFigure">
						<img th:src="@{/img/car3.jpg}" alt="" style="width: 100%; margin: 0 auto; padding: 10px;" >
						<figcaption>Mercedes Benz, <strong>$26,000</strong></figcaption>
					</figure>
					</div>
					<div class="col-sm-4 col-md-12" style="background-color: rgba(0,0,0,0.07);margin-bottom:20px;border-radius: 10px; padding: 5px;">
					<figure class="interestFigure">
						<img th:src="@{/img/car4.jpg}" alt="" style="width: 100%; margin: 0 auto; padding: 10px;" >
						<figcaption>BMW, <strong>$240,000</strong></figcaption>
					</figure>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->

	<div class="container">

		<hr>

		<!-- Footer -->
		<div th:replace="fragments/general/footer :: footer"></div>

	</div>
	<!-- /.container -->
<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/classie.js}"></script>

    <!-- Animate the header -->
    <script th:src="@{/js/cbpAnimatedHeader.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script type="text/javascript">
    $( document ).ready(function() {
        $('select').select2();
    });
    </script>

</body>

</html>
